@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:             210  30%  95%;  /* bg: <body /> */
    --midground:              210  30%  90%;  /* bg: Side-bar, Top-bars */
    --foreground:             210  30%  20%;  /* text: basic */
    --foreground-secondary:   210  30%  40%;  /* text: secondary */
    --card:                   210  30%  90%;  /* bg: <Card /> */
    --card-foreground:        210  30%  20%;  /* text: <Card /> */
    --popover:                213  30%  90%;  /* bg: popovers such as <DropdownMenu />, <HoverCard />, <Popover /> etc. */
    --popover-foreground:     210  30%  20%;  /* text: <DropdownMenu />, <HoverCard />, <Popover /> etc. */
    --accent:                 210  30%  80%;  /* accents: hover effects on <DropdownMenuItem>, <SelectItem> etc. */
    --accent-foreground:      210  30%  20%;  /* text: <DropdownMenuItem>, <SelectItem> etc. */
    --muted:                  210  30%  80%;  /* bg: muted background such as <TabsList />, <Skeleton />, <Switch /> etc. */
    --muted-foreground:       210  30%  35%;  /* text: <TabsList />, <Skeleton /> and <Switch /> etc. */
    --primary:                210  30%  95%;  /* bg: <Button /> */
    --primary-foreground:     210  30%  20%;  /* text: primary button */
    --secondary:              210  30%  80%;  /* bg: <Button /> */
    --secondary-foreground:   210  30%  11%;  /* text: secondary button */
    --destructive:            0    65%  30%;  /* bg: destructive variants */
    --destructive-foreground: 210  40%  98%;  /* text: destructive actions */
    --border:                 210  30%  85%;  /* border color (default) */
    --input:                  210  30%  85%;  /* border color for inputs such as <Input />, <Select />, <Textarea /> etc. */
    --ring:                   210  30%  50%;  /* focus ring */
    --radius:                 0.5rem;         /* Border radius for card, input and buttons */
  }

  .dark {
    --background:             210  70%   7%;
    --midground:              213  70%   9%;
    --foreground:             210 100%  95%;
    --foreground-secondary:   210  20%  50%;
    --card:                   213  70%   9%;
    --card-foreground:        210 100%  95%;
    --popover:                213  70%   9%;
    --popover-foreground:     210 100%  95%;
    --accent:                 210  35%  20%;
    --accent-foreground:      210 100%  95%;
    --muted:                  210  35%  20%;
    --muted-foreground:       210  20%  65%;
    --primary:                210 100%   7%;
    --primary-foreground:     210 100%  95%;
    --secondary:              210  33%  18%;
    --secondary-foreground:   210  40%  98%;
    --destructive:              0  65%  30%;
    --destructive-foreground: 210  50%  95%;
    --border:                 210  33%  15%;
    --input:                  210  33%  15%;
    --ring:                   210  27%  84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}